@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../scss/theme/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
.right-container {

  &.content-mode-normal {
    margin-left: 30px;
    padding-left: 30px;

    @media all and (max-width: 1280px) {
      margin-left: 30px !important;
      z-index: 0;
      left: 0px !important;
    }

    &.sidebar-open-click {
      @include media-breakpoint-up(lg) {
        margin-left: $sidebar-width + 20px + 10px;
      }
      @include media-breakpoint-down(lg) {
        margin-left: $sidebar-width + 10px;
      }
      @include media-breakpoint-down(md) {
        margin-left: $sidebar-width - 20px + 10px;
      }
      @include media-breakpoint-down(sm) {
        margin-left: $sidebar-width - 40px + 10px;
      }
      @include media-breakpoint-down(xs) {
        margin-left: $sidebar-width - 60px + 10px;
      }
    }
  }

  &.content-mode-view {
    ol.breadcrumb, div.title-header, div.widget.navigation {
      display: none;
    }
  }

  // margin-left: 20px + 10px;
  // padding-left: 30px;
  padding-top: 30px;
  // padding-bottom: 30px;
  position: relative;
  z-index: auto; //For COSMATT-1669; changing this from 99 to auto;
  // setting z-index of parent to 99 sets the z-index of modal-dialog(having z-index 1050) to its parent ; so it hides behind the container which has a z-index of 1040
  transition: margin-left 0.5s, left 0.5s;
  left: 0px;
  @media all and (max-width: 1280px) {
    // margin-left: 30px !important;
    // z-index: 0;
    // left: 0px !important;
  }
  &.sidebar-open-click {
    // @include media-breakpoint-up(lg) {
    //   margin-left: $sidebar-width + 20px + 10px;
    // }
    // @include media-breakpoint-down(lg) {
    //   margin-left: $sidebar-width + 10px;
    // }
    // @include media-breakpoint-down(md) {
    //   margin-left: $sidebar-width - 20px + 10px;
    // }
    // @include media-breakpoint-down(sm) {
    //   margin-left: $sidebar-width - 40px + 10px;
    // }
    // @include media-breakpoint-down(xs) {
    //   margin-left: $sidebar-width - 60px + 10px;
    // }
    left: 0px;
    z-index: auto;  //for COSMATT-1303 ; changing z-index from initial to auto since initial keyword is not supported in IE;
    //initial sets this property to its default value whereas auto sets the stack order equal to its parents which  is default;
  }
  &.sidebar-open-hover {
    margin-left: 20px + 10px;
    @include media-breakpoint-up(lg) {
      left: $sidebar-width;
    }
    @include media-breakpoint-down(lg) {
      left: $sidebar-width - 20px;
    }
    @include media-breakpoint-down(md) {
      left: $sidebar-width - 40px;
    }
    @include media-breakpoint-down(sm) {
      left: $sidebar-width - 60px;
    }
    @include media-breakpoint-down(xs) {
      left: $sidebar-width - 80px;
    }
  }
  .title-header {
    margin: 0 0 calc(1rem + 6px);
    display: flex;
    justify-content: start;
    align-items: center;
    // flex-wrap: wrap;
    .title-container {
      .page-title {
        margin: 0;
        padding-right: 10px;
        .chapter-icon{
          height: 30px;
          width: 30px;
        }
      }
      .page-title.right-separator {
        border-right: 1px solid #A9A9A9;
      }
    }
    .nav-top {
      min-width: 325px;
      @include media-breakpoint-down(md) {
        min-width: 92px;
      }
      @include media-breakpoint-down(lg) {
        &.sideopened {
          // min-width: 92px;
          // button .navbtn-text {
          //   display: none;
          // }
          // button .compbtn-text {
          //   display: none;
          // }
        }
      }
      button {
        padding: 1px 16px;
        .navbtn-text {
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
        .compbtn-text {
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
    }
  }
  .completed-container {
    min-width: auto !important;
    margin-top: 3px;
    .mark-as-complete-btn {
      padding-left: 0px !important;
    }
  }
  .navigator-container {
    margin-left: auto;
  }
  .right-arrow {
    font-size: 26px;
    position: relative;
    top: 2px;
  }
  .left-arrow {
    font-size: 26px;
    position: relative;
    top: 2px;
  }
  .ver-separaotr {
    padding-left: 16px;
    border-left: 1px solid #A9A9A9;
  }
  .marked-completed {
    border: none;
    background-color: transparent;
    color: #2e7d32;
    margin-right: 0px;
    opacity: 1;
    cursor: default;
    .fa-check {
      padding: 2px;
      border-radius: 3px;
      position: relative;
    }
  }
  .marked-completed:hover {
    background-color: transparent;
  }
  .navigation {
    padding: 26px 0;
    background-color: #dedede;
    .mark-as-complete-btn {
      position: relative;
      top: 4px;
      margin-right: 16px;
      background-color: #01579b;
      border: none;
    }
    .mark-as-complete-btn:hover {
      background-color: #004479;
    }
    .marked-completed {
      background-color: transparent;
      color: #2e7d32;
      margin-right: 0px;
      cursor: default;
      .fa-check {
        padding: 2px;
        border-radius: 3px;
        position: relative;
      }
    }
    .marked-completed:hover {
      background-color: transparent;
    }
  }
  .btn-link {
    color: #01579b;
    &:disabled,
     :hover,
     :focus,
     :active {
      color: inherit;
    }
  }
}
