<div class="modal fade" id="appModal" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog text-center">
    <div class="modal-content">
      <div class="app-modal-panel">
        <h4 class="modal-title fw-semi-bold" id="myModalLabel">Coming Soon!</h4>
      </div>
      <div class="modal-body">
        <p>The team is working hard to get this feature ready! Please check back soon!</p>
      </div>
      <div class="app-modal-panel app-modal-footer border-top-theme text-center">
        <button type="button" class="btn btn-inverse btn-md mb-xs" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>