.course-badges-container {
    .course-badges {
        font-size: 30px;
        padding: 10px;
    }
    .badges-count-text {
        padding-top: 10px;
    }
    .badge-text-bg {
        color: #cb2929;;
        position: absolute;
        top: -2px;
        left: 40px;
        font-size: 20px;
    }
    .badge-text {
        color: white;
        font-size: 14px;
        margin-top: -17px;
        display: block;
        margin-left: 2px;
    }


}