<div class="course-badges-container">
  <h4 class="title fw-semi-bold mb-md">Badges</h4>
  <div class="row no-margin widget bg-white no-padding">
    <div class="col-4 text-center">
      <span class="fa-stack fa-3x course-badges text-gold">
          <i  class="fa fa-trophy fa-stack-2x"></i>
          <span class="fa fa-stack-1x">
             <span class="badge-text-bg fa fa-circle">
                <span class="badge-text">
                    {{courseBadges.gold}}
                </span>
      </span>
      </span>
      </span>
    </div>
    <div class="col-4 text-center">
      <span class="fa-stack fa-3x course-badges text-silver">
          <i  class="fa fa-trophy fa-stack-2x"></i>
          
          <span class="fa fa-stack-1x">
             <span class="badge-text-bg fa fa-circle">
                <span class="badge-text">
                    {{courseBadges.silver}}
                </span>
      </span>
      </span>
      </span>
    </div>
    <div class="col-4 text-center">
      <span class="fa-stack fa-3x course-badges text-bronze">
          <i  class="fa fa-trophy fa-stack-2x"></i>
           <span class="fa fa-stack-1x">
             <span class="badge-text-bg fa fa-circle">
                <span class="badge-text">
                    {{courseBadges.bronze}}
                </span>
      </span>
      </span>
      </span>
    </div>
  </div>
</div>