<section class="widget no-margin border-top-theme content-viewer" widget>
  <div id="intro-content">
    <h1 id="introduction">Introduction</h1>
    <p>Fundamentals module will help In understanding the fundamentals topic needed for servo system course. It is a module
      having chapters from basic engineering knowledge. These topics are essential for the main content which deals with
      sizing the servo motors. There is a chance that you may already be familiar with these topics. We have a pretest to
      know how much you already know, based on the result of which some topics of Fundamentals will be marked as complete
      which you may skip reading.</p>
    <h2 id="pretest">Pretest</h2>
    <p class="clearfix">The pretest is intended to judge your pre-requites knowledge for Servo System Training course. It is recommended to complete
      the test. Based on the pretest result Some topics of Fundamentals chapter will be marked as completed which you may
      skip reading. These topics will also be added to your module progress.<br>
      <button class="btn btn-inverse float-right mt-md" (click)="navigateToPretest()">Launch Pretest</button>
    </p>
    <h2 id="chapters-covered">Chapters Covered</h2>
    <ul>
      <li>Mass</li>
      <li>Inertia</li>
      <li>Radians</li>
      <li>Torque</li>
      <li>Power</li>
      <li>Units</li>
      <li>Resolution</li>
      <li>RMS</li>
      <li>Electrical quantities</li>
      <li>Bandwidth</li>
      <li>How a Servo Axis Works</li>
    </ul>
    <h2 id="learning-objectives-covered">Learning Objectives Covered</h2>
    <ul>
      <li>To understand the concept of mass and how it differs from weight.</li>
      <li>To understand the concept of inertia in rotating objects.</li>
      <li>To understand this fundamental unit of angle.</li>
      <li>To understand how this term is derived and is applied to drive systems.</li>
      <li>To understand how SI units make engineering calculations more straightforward.</li>
      <li>To understand the difference between resolution and accuracy.</li>
      <li>To understand how the term applies to current and torque in a drive system.</li>
      <li>To appreciate basic electrical theory necessary for the understanding of drive systems.</li>
      <li>To understand what the term (Bandwidth) means within the context of Drive systems.</li>
    </ul>
  </div>
</section>