<nav sidebar id="sidebar" role="navigation" class="sidebar">
  <div class="js-sidebar-content">
    <div class="title-text fw-bold">Analytics
      <span class="cross-icon float-right" (click)="closeSideMenu()"><span class="left"></span>
      <span class="right"></span></span>
    </div>
    <div class="content-wrapper">
      <p class="coming-soon fw-semi-bold mb-2">Coming Soon!</p>
      <p class="error-message fw-normal"> The team is working hard to get this feature ready! Please check back soon!</p>
    </div>
  </div>
</nav>