<div class="row box-row">
  <div class="col-12 col-md-12 box border-top-theme last-visited">

    <div class="col-12 col-1279-12 background-color-theme box-title">
      <span class="box-heading">Students Enrolled</span>
    </div>
    <div class="col-12 col-1279-12 row box-content">
      <div class="col-8 col-1279-12">
        <div class="col-12 box-heading">Total Students: {{classDataService.NumberOfStudents}}</div>
        <div class="col-12 box-body">
            <span class="box-body-label">-- Not Started</span>
            <span class="box-body-label">-- In Progress</span>
            <span class="box-body-label">-- Finished</span>
           </div>
      </div>
      <div class="col-4 col-1279-12 box-aside">
        <div class="v-rule">
        </div>
        <button class="btn btn-inverse btn-sm resume-button">Student View
          <!-- <span class="circle bg-white button-get-started">
            <i class="fa fa-arrow-right text-inverse"></i>
          </span> -->
        </button>
      </div>
    </div>
  </div>
</div>