@import "../../../scss/theme/_variables";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

$border-top-width: 3px;
$vertical-rule-height: 100%;
$box-min-height: 134px;

$box-icon-size: 24px;
$box-icon-size-lowres: 20px;
$box-heading: $font-size-16;
$box-heading-lowres: $font-size-14;
$box-body: $font-size-14;
$box-body-lowres: $font-size-12;

$col-2-new-width: 17.5555%;
$col-3-new-width: 26.3325%;
$col-2-new-width-lowres: 16.5555%;
$col-3-new-width-lowres: 25.3401%;

$start-date-icon-color: #546E7A;
$days-elapsed-icon-color: #0DB0C4;
$time-spent-icon-color: #A1887F;

.box-row {

  background: $body-bg;
  justify-content: space-between;
  min-height: $box-min-height;
  margin: 0 0;

  @include media-breakpoint-up(lg) {
    & > .col-lg-2 {
      -ms-flex: 0 0 $col-2-new-width;
      flex: 0 0 $col-2-new-width;
      max-width: $col-2-new-width;
    }

    & > .col-lg-3 {
      -ms-flex: 0 0 $col-3-new-width;
      flex: 0 0 $col-3-new-width;
      max-width: $col-3-new-width;
    }
  }

  .box {
    padding: 0px;
    margin: 0 0;
    background: $white;
    border-top-width: $border-top-width;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;

    // display: flex;
    // justify-content: center;
    // align-items: center;

   

    &.last-visited {
      background: $table-bg-accent;
      justify-content: space-between;

      .box-title {

        display: flex;
        align-items: center;
        height: 30px;
        color: #FFF;
        & > .box-heading {
          padding-bottom: 3px;
        }
      }
      
      .box-content {

        margin: 0 0;
        padding: 15px 0px 0px 0px;
        .box-heading {
          font-size: $box-heading;
          display: flex;
          justify-content: flex-start;
          padding: 0;
        }
        .box-body {
          padding: 15px 0px 0px 0px;
          font-size: $box-body;
          font-weight: $font-weight-normal;
          display: flex;
          justify-content: space-between;
        }
      }

      .box-aside {

        display: flex;
        align-items: center;
        justify-content: flex-end;

        .v-rule {
          width: 1px;
          height: $vertical-rule-height;
          background: lightgray;
          margin-right: 15px;
          cursor: initial;

          display: inline-block;
        }

        .resume-button {
          display: inline-flex;
          justify-content: space-around;
          align-items: center;
          padding-left: 5px;
          padding-right: 5px;
          font-size: $font-size-14;

          .button-get-started {
            margin-left: 5px;
          }
        }
      }

    }
  }
}

@media screen and (min-width: $breakpoint-width + 1px) and (min-height: $breakpoint-height + 1px) and (max-width: 1440px) {
  .last-visited {
    > .col-7, > .col-5 {
      -ms-flex: 0 0 50% !important;
      flex: 0 0 50% !important;
      max-width: 50% !important;
    }
  }
}

@media screen and (max-width: $breakpoint-width), screen and (max-height: $breakpoint-height) {
  .col-1279-12 {
    position: relative;
    min-height: 1px;

    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

    .box-row {
      @media screen and (min-width: 992px) and (max-width: $breakpoint-width), 
      screen and (min-height: 600px) and (max-height: $breakpoint-height) {
        & > .col-lg-2 {
          -ms-flex: 0 0 $col-2-new-width-lowres;
          flex: 0 0 $col-2-new-width-lowres;
          max-width: $col-2-new-width-lowres;
        }

        & > .col-lg-3 {
          -ms-flex: 0 0 $col-3-new-width-lowres;
          flex: 0 0 $col-3-new-width-lowres;
          max-width: $col-3-new-width-lowres;
        }
      }

    .box {   

      &.last-visited {
        .box-content {
          .box-heading {
            align-items: center;
            justify-content: center;
            font-weight: $font-weight-normal;
            font-size: $box-heading-lowres;
          }
          .box-body {
            display: inline-box;
            text-align: center;
            // text-overflow: initial;
            // white-space: normal;
            // overflow: initial;
            align-items: center;
            justify-content: center;
            font-weight: $font-weight-normal;
            font-size: $box-body-lowres;
          }
        }
        .box-aside {
          justify-content: center;
          .v-rule {
            display: none;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 1367px) {

}

@media screen and (min-width: 1264px) and (max-width: 1599px) {

}


