<main id="content" class="widget-forgot-password-container" role="main">
  <div>
    <section>
      <header class="widget-header text-gray-dark">
        <div class="title-line1">
          <span class="page-tiitle text-gray2">Forgot Password</span>
          <div class="header-separator display-inline-block"></div>
          <span class="fw-semi-bold"> COSMATT</span>
        </div>
        <div class="title-line2 fw-semi-bold">
          Compro Online Servo Motor Analysis & Training Tool
        </div>
        <div class="title-line3 fw-normal">
          COSMATT is a combined training and sizing tool for those involved in the specification of ELECTRIC SERVO SYSTEMS.
        </div>
      </header>
    </section>

    <section class="widget widget-forgot-password border-top-theme mt-4">
      <div class="widget-body" [ngClass]="{'form-invalid': formStatus.errorMessage, 'form-success': formStatus.response.success, 'form-error': formStatus.response.error}">
        <alert type="danger" *ngIf="formStatus.errorMessage || formStatus.response.error" class="center-align">
          {{formStatus.errorMessage || formStatus.response.error}}
        </alert>
        <alert type="success" *ngIf="formStatus.response.success" class="center-align">
          {{formStatus.response.success}}
        </alert>
        <ng-container *ngIf="!formStatus.response.success">
          <form class="forgot-password-form mt-lg" (submit)="onForgotPassword(forgotPasswordForm)" #forgotPasswordForm="ngForm" >
            <label>Please enter your e-mail address.</label>
            <div class="mt-3" [ngClass]="{'form-group': true, 'form-submitted': formSubmitted}">
              <label class="mb-3 input-label fw-bold">E-mail</label>
              <input type="email" class="form-control" name="email" placeholder="Enter e-mail" [(ngModel)]="email" required autofocus>
            </div>
            <button type="submit" class="btn btn-inverse btn-sm ml-2 custom-hidden"></button>
          </form>
          <div class="fp-submit-btn float-right">
            <div (click)="onForgotPassword(forgotPasswordForm)"><span class="fa fa-arrow-circle-right"></span></div>
          </div>
        </ng-container>
      </div>
      <footer class="forgot-password-footer">
        <div class="back-to-login fw-normal">
          <div>
              Back to <span><a class="link-color" (click)="router.navigate(['auth/login'])" tabindex>Login</a></span>
          </div>
        </div>
      </footer>
    </section>

  </div>
</main>
