<div class="summury-container">
  <div class="row summary-heading-row">
    <div class="col-1 col-lg-1 check-icon-container">
      <div class="check-icon">
          <img _ngcontent-c17="" class="component-img" src="./assets/img/Success.svg">
      </div>
    </div>
    <div class="col-10 col-xl-10 col-lg-10 col-md-10 summary-title-container">
      <div class="summary-title fw-normal">Congratulations! You have created a sizing application.</div>
      <div class="summary-sub-title">You have successfully created a sizing application based on motion parameters. You have an option to
        <a class="fw-bold save-to-disk" (click)="onSaveBtn(saveType.HardDisk)">Save to Disk</a>
         <!-- OR -->
        <!-- "onSaveBtn(saveType.GoogleDrive)" -->
        <!-- <a class="fw-bold disabled" onclick="return false;">Save to Google Drive</a>-->
           OR You may
        <a class="fw-bold save-to-disk" (click)="onPrintClick()">Print</a>
           the metadata.</div>
    </div>
  </div>
  <div *ngFor="let componentItem of summaryComponentlist; let i= index" class="summary-details row-{{i+1}}">
    <div class="row component-title fw-semi-bold fs-18">
      <span class="">{{componentItem.number}}. {{componentItem.name}}</span>
    </div>
    <div class="row">
      <div class="col-3 col-lg-3 ">
        <div class="row component-img-container">
          <img class="component-img" [src]="componentItem.imgPath" />
        </div>
      </div>
      <div class="col-9 col-lg-9 component-property-list-column">
        <ul class="component-property">
          <li class="property-list fs-14" *ngFor="let itemProperty of componentItem.propertyList; let i = index" [ngClass]="{'odd':(i%2) !==0}">
            <div class="property-list-item col-12 col-lg-12">
              <span class="list-name fw-semi-bold">{{itemProperty.name}}:</span>
              <span class="list-value fw-regular">{{formatter(itemProperty.value)}}</span>
              <span class="list-unit fw-regular"> {{itemProperty.unit}}
                <sup>{{itemProperty.superValue}}</sup>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-lg-3 "></div>
    <div class="col-9 col-lg-9 ">
      <div class="row solution-additional-details">
        <div class="col-8 col-lg-10 col-xl-8 torque-speed-requirements">
          <div class="solution-title fw-semi-bold fs-14">
            <span class="">Application Torque-Speed Requirements</span>
          </div>
          <div class="fs-12 fw-bold row solution-data-label">
            <span class="col-6 col-lg-6 high-reso-col"></span>
            <span class="load-side-label col-3 col-lg-3"> LOAD SIDE</span>
            <span class="motor-side-label col-3 col-lg-3"> MOTOR SIDE</span>
          </div>
          <ul class="fs-14 solution-requirement-data-container">
            <li *ngFor="let item of solutionAnalysisRequirements">
              <div class="row">
                <span class="list-name fw-semi-bold col-6 col-lg-6 high-reso-col">{{item.name}}:</span>
                <span class="list-load-value col-3 col-lg-3">{{formatter(item.value.loadSide)}}
                  <span class="list-unit">{{item.unit}}
                    <sup> {{item.superValue}}</sup>
                  </span>
                </span>
                <span class="list-motor-value col-3 col-lg-3">{{formatter(item.value.motorSide)}}
                  <span class="list-unit">{{item.unit}}
                    <sup>{{item.superValue}}</sup>
                  </span>
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-1 col-lg-1">
        </div>
        <div class="col-5 col-lg-5 col-xl-3 environmental-factors">
          <div class="solution-title fw-semi-bold fs-14">
            <span class="">Environmental Factors</span>
          </div>
          <ul class="solution-environmental-data-container">
            <li class="" *ngFor="let item of solutionAnalysisEnvironmental">
              <div class="row">
                <span class="col-12 col-lg-12">
                  <span class="fw-semi-bold list-name">{{item.name}}:</span>
                  <span> {{formatter(item.value)}}
                    <sup [ngClass]="{'hidden': item.unit !== 'C'}">0</sup>
                    <span class="list-unit">{{item.unit}} {{item.superValue}}</span>
                  </span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>